.App {
  text-align: center;
}

.pins {
  margin-top: 25px;
  width: 10%;
}

.App-header {
  background-color: #253d70;
  align-items: center;
  justify-content: start;
  color: white;
}

#root {
  background-color: #90adeb;
  height: 100vh;
}

#nameBox {
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  border-right: none;
}

.playerBox {
  width: 80px;
  height: 15px;
  padding-bottom: 20px;
}

.pBox {
  height: 55px;
}

#fullBox {
  display: flex;
  display: row;
  margin-left: 10%;
}

#emptyBox {
  text-justify: center;
  font-weight: bold;
  width: 6%;
}

.button {
  width: 15%;
  float: left;
  border-radius: 80%;

}

#button {
  margin-left: 10%;
  margin-top: 15px;
}

.numberBox {
  width: 80px;
  height: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.smallBox {
  width: 20px;
  height: 15px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
}

.smallBoxEmpty {
  width: 40px;
  height: 15px;
}

.scoreBox {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding: 0px;
}

/* probaj 2 boxes i floar right */