.App {
  text-align: center;
}

.pins {
  margin-top: 25px;
  width: 10%;
}

.App-header {
  background-color: #253d70;
  align-items: center;
  justify-content: start;
  color: white;
}

#table {
  width: 100%;
  align-items: center;
  padding-left: 10%;
  background-color: #658ee7;
}

#table.th {
  text-justify: center;
  font-weight: bold;
  width: 6%;
}

#table.th:first-child {
  width: 14%;
}

td {
  text-justify: center;
  padding-top: 10px;
  padding-bottom: 10px;
}



#root {
  background-color: #90adeb;
  height: 100vh;
}

#nameBox {
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  margin-left: 10%;
}

#FullBox {
  display: flex;
  display: row;
}

#emptyBox {
  text-justify: center;
  font-weight: bold;
  width: 6%;
}

.button {
  width: 15%;
  float: left;
  border-radius: 80%;

}

#button {
  margin-left: 10%;
  margin-top: 15px;
}