.App {
  text-align: center;
}

.pins {
  margin-top: 15px;
  width: 7%;
}

p {
  padding-bottom: 15px;
}

.App-header {
  background-color: #253d70;
  align-items: center;
  justify-content: start;
  color: white;
}

html {
  height: 100%;
  margin: 0;
}

#root {
  background-color: #90adeb;
  height: 100vh;
}

#nameBox {
  border-radius: 3px;
  border-color: black;
  border-style: solid;
}

#totalBox {
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  width: 150px;
}

#tableBox {
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  border-left: none;
  border-right: none;
}

.playerBox {
  width: 80px;
  height: 15px;
  padding-bottom: 20px;
}

.totalScoreBox {
  width: 80px;
  height: 15px;
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.pBox {
  height: 66px;
}

.totalBoxDown {
  height: 66px;
  text-align: center;
  font-size: 40px;
}

#fullBox {
  display: flex;
  display: row;
  margin: 3%;
}

.scoreBoxContainer10 {
  width: 110px;
  display: flex;
  justify-content: center;
}

button {
  margin-left: 5%;
  padding: 0px;
  border-radius: 80%;
  width: 85px;
  height: 85px;
}

.buttonPix {
  border-radius: 80%;
  width: 100%;
}

.numberBox {
  width: 80px;
  height: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.smallBox {
  width: 20px;
  height: 15px;
  border-radius: 1%x;
  border-style: solid;
  border-color: black;
}

.smallBoxEmpty {
  width: 40px;
  height: 15px;
}

.scoreBox {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding: 0px;
}

.footer {
  background-color: #253d70;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

/* probaj 2 boxes i float right */
